html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    width: 100%;
  }
body {
  font-size: 16px;
}

.box1 {
  background-color: #FF6A6A;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  width: 100%;
  border: 15px;
  padding: 2px;
  margin: 0px;
  }
.box2 {
  background-color: #ffffff;
  width: 100%;
  border: 15px;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  }
.box3 {
  background-color: #FFF4F4;
  color: #FF6A6A;
  font-size: 35px;
  text-align: center;
  width: 100%;
  border: 15px;
  padding: 2px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin: 0px;
  }
.box4 {
  background-color: #ffffff;
  width: 100%;
  border: 15px;
  padding: 2px;
  margin: 0px;
  }
.box5 {
  background-color: #FFF4F4;
  color: #FF6A6A;
  font-size: 35px;
  text-align: center;
  width: 100%;
  border: 15px;
  padding: 2px;
  margin-bottom: 30px;
  }
.box6 {
  background-color: #ffffff;
  width: 100%;
  border: 15px;
  padding: 2px;
  margin: 0px;
  font-size: 12px;
  }
.table {
  margin: 45px;
  }
.links{
  text-align: center;
}